<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1>BaBook</h1>
            <p>
                <p><a href=""
            </p>
        </div>
    </div>
</div>
